/* color palette from <https://github.com/vuejs/theme> */
:root {
  box-sizing: border-box;
  --ff-heading: "DM Serif Display";
	--ff-text: "Karla";
	--fs: 1rem;
	--fw-sm: 400;
	--fw-md: 700;
	--DarkViolet: hsl(256, 26%, 20%);
	--GrayishBlue: hsl(216, 30%, 68%);
	--VeryDarkViolet: hsl(270, 9%, 17%);
	--DarkGrayishViolet: hsl(273, 4%, 51%);
	--VeryLightGray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--ff-text);
	font-size: var(--fs);
	font-weight: var(--fw-sm);
  /* color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
a {
	text-decoration: none;
}
button {
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}
img {
	max-width: 100%;
}
ul {
	list-style: none;
}
.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
